﻿<style>
    .message {
        position: fixed;
        top: 50%;
        left: 50%;
        width: 200px;
        height: 100px;
        text-align: center;
        margin-top: -150px;
        margin-left: -100px;
    }
</style>

<div>
    <div class="message">
        <div>
            @*<img src="/Images/max-rte-logo-sm.png" style="margin-bottom: 4px;" />
            <br />*@
            <img src="/Content/kendo/2014.2.716/Silver/loading_2x.gif" />
        </div>
    </div>
</div>

