<div class="grid">
    <table class="grid-table" cellspacing="0">
        <thead>
            <tr data-bind="foreach: columns">
                <th data-bind="click: $parent.sort, text: headerText"></th>
            </tr>
        </thead>
        <tbody class="table table-hover" data-bind="foreach: { data: items, as: 'item' }">
            <tr data-bind="click: $parent.selectItem, css: { selected: $parent.isSelected(item) }, foreach: $parent.columns">
                <td data-bind="text: typeof rowText == 'function' ? rowText($parent) : $parent[rowText]"></td>
            </tr>
        </tbody>
    </table>
</div>