<div class="modal-content">
    <div class=modal-close data-bind="click: close"><i class="fa fa-times"></i></div>
    <div class="modal-header" data-bind="style: { width: width }">
        <span class="modal-title">User Editor</span>
    </div>
    <div class="modal-body" data-bind="style: { width: width, height: bodyHeight }">
        <div class="modal-tab-container">
            <span class="modal-tab" data-bind="click: function () { currentView('info') }, css: { selected: currentView() === 'info' }">Info</span>
            <span class="modal-tab" data-bind="click: function () { currentView('clients') }, css: { selected: currentView() === 'clients' }">Clients</span>
            <span class="modal-tab" data-bind="click: function () { currentView('scopes') }, css: { selected: currentView() === 'scopes' }">Scopes</span>
            <span class="modal-tab" data-bind="click: function () { currentView('password') }, css: { selected: currentView() === 'password' }, visible: !isNewUser">Password</span>
        </div>
        <div data-bind="visible: currentView() === 'info'">
            <span class="modal-label">Username</span>
            <input class="modal-input" type="text" data-bind="value: userName, enable: isNewUser"><br>
            <span class="modal-label" data-bind="visible: isNewUser">Password</span>
            <input class="modal-input" type="password" data-bind="value: password, visible: isNewUser"><br>
            <span class="modal-label">First Name</span>
            <input class="modal-input" type="text" data-bind="value: firstName"><br>
            <span class="modal-label">Middle Name</span>
            <input class="modal-input" type="text" data-bind="value: middleName"><br>
            <span class="modal-label">Last Name</span>
            <input class="modal-input" type="text" data-bind="value: lastName"><br>
            <span class="modal-label">Nickname</span>
            <input class="modal-input" type="text" data-bind="value: nickName"><br>
            <span class="modal-label">Birth Date</span>
            <input class="modal-input" data-kendo-role="datepicker" data-kendo-bind="value: birthDate"><br>
            <span class="modal-label">Gender</span>
            <select class="modal-input" data-bind="options: genders, value: gender"></select>
            <span class="modal-label">Email</span>
            <input class="modal-input" type="text" data-bind="value: email"><br>
            <span class="modal-label">Phone Number</span>
            <input class="modal-input" type="text" data-bind="value: phoneNumber"><br>
            <span class="modal-label">Photo URL</span>
            <input class="modal-input" type="text" data-bind="value: photoUrl"><br>
            <span class="modal-label">Expiration</span>
            <input class="modal-input" data-kendo-role="datepicker" data-kendo-bind="value: expiration"><br><br>
        </div>
        <div data-bind="visible: currentView() === 'clients'">
            <br>
            <select data-kendo-role="multiselect"
                    data-kendo-placeholder="Click to select clients"
                    data-kendo-value-primitive="true"
                    data-kendo-text-field="ClientName"
                    data-kendo-value-field="ClientId"
                    data-kendo-bind="value: selectedClients, source: clients"></select><br>
        </div>
        <div data-bind="visible: currentView() === 'scopes'">
            <br>
            <select data-kendo-role="multiselect"
                    data-kendo-placeholder="Click to select scopes"
                    data-kendo-value-primitive="true"
                    data-kendo-text-field="Name"
                    data-kendo-value-field="Name"
                    data-kendo-bind="value: selectedScopes, source: scopes"></select><br>
        </div>
        <div data-bind="visible: currentView() === 'password'">
            <span class="modal-label">Current</span>
            <input class="modal-input" type="password" data-bind="value: currentPassword"><br>
            <span class="modal-label">New</span>
            <input class="modal-input" type="password" data-bind="value: newPassword"><br>
            <span class="modal-label">Confirm</span>
            <input class="modal-input" type="password" data-bind="value: newPasswordConfirm"><br><br>
        </div>
        <span class="modal-error-message" data-bind="html: message"></span>
    </div>
    <div class="modal-footer" data-bind="style: { width: width }">
        <span class="modal-action button-red" data-bind="click: deleteUser, visible: !isNewUser"><i class="fa fa-trash"></i> Delete</span>
        <span class="modal-action button-green" data-bind="click: enableUser, visible: !isNewUser && !isEnabled()"><i class="fa fa-power-off"></i> Enable</span>
        <span class="modal-action button-grey" data-bind="click: disableUser, visible: !isNewUser && isEnabled()"><i class="fa fa-power-off"></i> Disable</span>

        <span class="modal-action button-blue main-button" data-bind="click: saveUser, visible: currentView() !== 'password'"><i class="fa fa-floppy-o"></i> Save</span>
        <span class="modal-action button-blue main-button" data-bind="click: updatePassword, visible: currentView() === 'password'"><i class="fa fa-lock"></i> Update Password</span>
    </div>
</div>
