.modal-content {
    background-color: #fff;
    color: darkgrey;
    padding: 10px;
    -webkit-box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.57);
    -moz-box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.57);
    box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.57);
    border-radius: 4px;
    border-bottom: 4px solid #2A7AAF;
}

.modal-header {
    position: relative;
    border-bottom: 2px solid #ECECEC;
}

.modal-body {
    font-size: 13px;
    box-sizing: border-box;
    color: #000000;
    padding: 4px;
    padding-top: 10px;
    overflow: auto;
}

.modal-footer {
    padding: 14px 4px 4px 4px;
    box-sizing: border-box;
    border-top: 2px solid #ECECEC;
    height: 50px;
}

.modal-title {
    margin: 8px 4px;
    display: block;
    font-size: 22px;
    font-weight: bold;
    color: #717171;
}

.modal-close {
    position: absolute;
    right: 14px;
    font-size: 18px;
    color: #B7B7B7;
    z-index: 1;
}

    .modal-close:hover {
        color: grey;
        cursor: pointer;
    }

.modal-action {
    min-width: 80px;
    height: 32px;
    color: #FFF;
    background-color: grey;
    border-radius: 3px;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.21);
    opacity: 1;
    transition: opacity 0.2s;
    padding: 8px 8px;
}

    .modal-action:hover {
        opacity: 0.9;
    }

.main-button {
    float: right;
}

.button-blue {
    background-color: #2A7AAF;
    border-bottom: 2px solid #22628C;
}

.button-red {
    background-color: #CA3939;
    border-bottom: 2px solid #AB2E2E;
}

.button-grey {
    background-color: #8E8E8E;
    border-bottom: 2px solid #757575;
}

.button-green {
    background-color: #498E49;
    border-bottom: 2px solid #326132;
}

.modal-input {
    width: 72%;
    box-sizing: border-box;
    border: none;
    border: 1px solid #E0E0E0;
    border-bottom: 2px solid #D8D8D8;
    padding: 4px;
    display: inline-block;
    border-radius: 2px;
}

.modal-label {
    padding-top: 11px;
    padding-bottom: 2px;
    display: inline-block;
    width: 24%;
    text-align: right;
    padding-right: 7px;
}

.modal-error-message {
    color: red;
}

.form-actions {
    padding-bottom: 5px;
    text-align: right;
}

.modal-tab-container {

}

.modal-tab {
    display: inline-block;
    padding: 5px;
    border-bottom: 2px solid grey;
    opacity: 0.8;
    cursor: pointer;
    padding: 4px 8px;
    margin-bottom: 8px;
    font-size: 14px;
    transition: all 0.2s;
}

    .modal-tab:hover {
        opacity: 1;
    }

    .modal-tab.selected {
        color: #2A7AAF;
        border-bottom: 2px solid #2A7AAF;
        background-color: #E0EDF5;
        font-weight: bold;
    }
